.feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@media screen and (min-width: 728px) {
  .feed {
    padding: 16px 0;
  }
}

.new-user {
  .user__thumb {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  }

  .user__name {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }

  .post__form {
    padding: 40px;
    background-color: (0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
    label {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      font-size: 16px;
      padding: 8px;
      margin-bottom: 20px;
    }

    button {
      background-color: black;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 20px;
    }
  }
} 